{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <header>
        <h1>{% if exercise_info %}{{ exercise_info.0.title }}{% endif %}</h1>
        <nav>
            <ul>
                <h3><li><a href="{% url 'index' %}">Home</a></li></h3>
            </ul>
        </nav>
    </header>
    <section id="main-content">
        {% for exercise in exercise_info %}
        <div class='exercise_info'>
            <img src="{{ exercise.image.url }}" alt="{{ exercise.title2 }}">
            <h2>{{ exercise.title2 }}</h2>
            <p><i>{{ exercise.description }}</i></p>
        </div>
        {% endfor %}
    </section>
    <footer>
        <div class="container">
            <a href="https://www.instagram.com/_rodrigobonelli/" target=”_blank” >
                <img src="{% static 'assets/instagram.png' %}" alt="instagram">
            </a>
            <p>&copy; 2024 Gym.</p>
        </div>
        <p class="rodape__texto">By: Rodrigo</p>
    </footer>
</body>
</html>
