{% extends 'Gym/base.html' %}
{% load static %}
{% block content %}
    <header>
        <h1>{% if exercise_info %}{{ exercise_info.0.title }}{% endif %}</h1>
    </header>
    <section id="main-content">
        {% for exercise in exercise_info %}
        <div class='exercise_info'>
            <img src="{{ exercise.image.url }}" alt="{{ exercise.title2 }}">
            <h2>{{ exercise.title2 }}</h2>
            <p><i>{{ exercise.description }}</i></p>
        </div>
        {% endfor %}
    </section>
{% endblock %}
