{%extends 'user/base.html' %}
{% load static %}
{% block content %}
  <header>
    <nav>
      <ul>
        <h1>My Training</h1>
        <h3><li><a href="{% url 'index' %}">Home</a></li></h3>
      </ul>
      {% for message in messages %}
      <div class="message-container">
        <p id="messages">{{ message }}</p>
      </div>
      {% endfor %}
    </nav>
  </header>
    <div class="login-container">
            <form action="{% url 'login' %}" method="POST" class="login-form">
              <h1>Sing in</h1>
              {% csrf_token %}
              <div class="form-group">
                  {% for field in form.visible_fields %}
                  <div>
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field }}
                  </div>
                  {% endfor %}
              </div>
              <div class="form-group">
                  <button type="submit">Login</button>
              </div>
              <div class="forgot-password">
                <a href="{% url 'register' %}">Create an account</a>
              </div>
            </form>
    </div>
{% endblock %}
